{{ $context := .Context }}
{{ $class := .Class }}
{{ $base := site.Home.Permalink }}

<ul class="{{ $class }} inline-flex space-x-1 text-gray-400 breadcrumb">
  <li>
    <a href="{{ $base }}">
      {{ T "home" | default "Home" }}
    </a>
    {{ if gt (len $context.Ancestors.Reverse) 1 }}<span class="inline-block">/</span>{{ end }}
  </li>
  {{ range $i, $e := $context.Ancestors.Reverse }}
    {{ if and (not .IsHome) (ne .Title "Pages") }}
      <li>
        <a href="{{ .RelPermalink }}">
          {{ T (printf "%s" (lower .Title)) | default .Title }}
        </a>
        {{ if lt $i (sub (len $context.Ancestors.Reverse) 1) }}
        <span class="inline-block">/</span>
        {{ end }}
      </li>
    {{ end }}
  {{ end }}
</ul>
