<div class="bg-body flex flex-col">
  {{ $image:= .Params.image }}
  {{ if $image }}
    {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "w-full rounded" "Command" "Fill" "Size" "400x170 center") }}
  {{ end }}
  <div class="flex justify-between mt-4 mb-2">
    <h3 class="text-2xl">
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </h3>
    {{ with .Params.author }}<a title="{{ . }}">{{ end }}
      {{ if .Params.authorAvatar }}
      {{ partial "components/avatar" (dict "Src" .Params.authorAvatar "Class" "mr-1") }}
      {{ else }}
      {{ partial "components/avatar" (dict "Src" "images/avatar-sm.png" "Class" "mr-1") }}
      {{ end }}
    </a>
  </div>
  {{ $categories:= .Params.categories }}
  {{ if $categories }}
    <ul class="mb-4">
      <li class="mr-4 inline-block">
        <i class="fa-regular fa-folder mr-1"></i>
        {{ range $i,$p:= $categories }}
          <a
            href="{{ `kompetenzen/` | relLangURL }}{{ . | urlize | lower }}/"
            class=""
            >{{ . }}{{ if ne $i (sub (len $categories) 1) }}{{ "," }}
            {{ end }}
          </a>
        {{ end }}
      </li>
    </ul>
  {{ end }}
  <p class="mb-4">{{ .Summary }}</p>
  <div class="flex justify-between gap-4 items-start">
    {{ $tags := .Params.tags }}
    {{ if $tags }}
    <ul class="tags flex flex-wrap justify-start gap-2">
      {{ range $tags }}
      <li class="inline-block">
        <a class="hover:bg-primary block rounded text-sm bg-theme-light px-3 py-2 hover:text-white" href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}/">
          {{ . }}
        </a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
    <a class="btn btn-primary btn-sm self-start whitespace-nowrap" href="{{ .RelPermalink }}">
      {{ T "read_more" }}
    </a>
  </div>
</div>
