<div class="bg-body ">
  {{ $image:= .Params.image }}
  {{ if $image }}
    {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "mb-6 w-full rounded" "Command" "Fill" "Size" "400x170 center") }}
  {{ end }}
  <div class="flex justify-between mb-2">
    <h4 class="">
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </h4>
    {{ with .Params.author }}<a title="{{ . }}">{{ end }}
      {{ partial "components/avatar" (dict "Url" .Params.authorAvatar "Class" "mr-1") }}
    </a>
  </div>
  {{ $categories:= .Params.categories }}
  {{ if $categories }}
    <ul class="mb-4">
      <li class="mr-4 inline-block">
        <i class="fa-regular fa-folder mr-1"></i>
        {{ range $i,$p:= $categories }}
          <a
            href="{{ `leistungen/` | relLangURL }}{{ . | urlize | lower }}/"
            class=""
            >{{ . }}{{ if ne $i (sub (len $categories) 1) }}{{ "," }}
            {{ end }}
          </a>
        {{ end }}
      </li>
    </ul>
  {{ end }}
  <p class="mb-6">{{ .Summary }}</p>
  <div class="flex justify-between">
    {{ $tags := .Params.tags }}
    {{ if $tags }}
      <ul class="tags">
        {{ range $tags }}
        <li class="inline-block">
          <a class="bg-theme-light hover:bg-primary m-1 text-sm rounded px-3 py-1 hover:text-white" href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}/">
            {{ . }}
          </a>
        </li>
        {{ end }}
      </ul>
    {{ end }}
    <a class="btn btn-outline-primary btn-sm" href="{{ .RelPermalink }}">
      {{ T "read_more" }}
    </a>
  </div>
</div>
