// Add your own custom styles here
.content img {
    @apply rounded w-full;
    @apply mb-2;
}

.content h2 {
    @apply text-3xl;
}

.content h3 {
    @apply text-2xl;
}

.content h4 {
    @apply text-xl;
}

.content li {
    @apply text-base;
}
.share-link {
    @apply my-0 mx-1;
}

.content :first-child {
    @apply mt-0;
}

.content :last-child {
    @apply mb-0;
}

.btn {
    @apply normal-case;
}

.gallery {
    @apply justify-center;

    .gallery-item {
        @apply rounded-md shadow-md;
        margin: calc(var(--bs-gutter-x) / 2);
    }

    img {
        height: 270px;
        object-fit: cover;
    }
}

#cookie-box {
    @apply text-sm text-gray-700;

    a {
        @apply text-primary;

        &:hover {
            @apply text-opacity-50;
        }
    }
}

.form-input {
    @apply bg-theme-light text-dark placeholder:text-light focus:border-primary w-full rounded border-transparent px-4 py-2.5 focus:ring-transparent;
}

.form-label {
    @apply font-secondary text-dark mb-4 block text-xl font-normal text-left;
}