{{ define "main" }}
{{ partial "page-header" . }}

<section class="section-sm">
  <div class="container">
    <div class="row justify-center gap-x-4">
      <div class="col-12 lg:col-10">
        <div class="w-full md:w-auto md:float-left mb-8 md:mr-10 md:mb-5 xl:mb-0 flex justify-center">
          {{ $image := resources.Get "images/karsten-aiefm-2024.jpg" }}
          {{ partial "image" (dict "Src" $image "Alt" "Karsten" "Loading" "eager" "Class" "rounded-md shadow-md" "Size" "400x270 left" "Command" "Fill") }}
        </div>
        <div class="content">
          <p class="text-2xl md:text-lg font-medium mt-0">
            Mit umfassender Erfahrung in der digitalen Transformation und innovativen Technologien entstehen
            maßgeschneiderte Lösungen, die Ihr Unternehmen &ndash; vom Start-up bis zur etablierten
            Organisation &ndash; bei Zukunfts- und Wettbewerbsfähigkeit unterstützen.
          </p>
          <p class="text-base">
            Durch gezielte IT-Beratung werden Strategien entwickelt, die optimal auf Ihre Ziele abgestimmt
            sind. Die prototypische Softwareentwicklung prüft frühzeitig die Machbarkeit neuer Ansätze und generiert
            wertvolles Wissen, das in die Optimierung Ihrer digitalen Lösungen einfließt. Eine reibungslose
            Datenintegration sorgt für nahtlosen Zugriff auf entscheidungsrelevante Informationen jederzeit und
            überall.
          </p>
        </div>
      </div>
    </div>
</section>

<section class="section-sm border-t-2 bg-theme-light">
  <div class="container">
    <div class="row gx-5">
      <div class="md:col-12 px-8">
        <div class="row gx-4 gy-5 2xl:gx-5 justify-center">
          {{ $paginator:= .Paginate .RegularPages }}
          {{ range $paginator.Pages }}
          <div class="md:col-6 xl:col-4">
            {{ partial "components/category-card" . }}
          </div>
          {{ end }}
        </div>
        {{ partial "components/pagination.html" . }}
      </div>
    </div>
</section>

<section class="section-sm border-t-2">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-4">
        <p class="text-2xl md:text-xl text-center font-light">
          So wird Ihre digitale Transformation entscheidend vorangetrieben - für nachhaltigen Erfolg und messbaren
          Mehrwert.
        </p>
      </div>
    </div>
  </div>
</section>
{{ end }}