{{ define "main" }}
{{ partial "page-header" . }}


<section class="section-sm">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-8 xl:col-6 lg:pr-10 mb-5 content">
        {{ .Content }}
      </div>
      <div class="lg:col-4 xl:col-4">
        <h2 class="text-2xl mb-6">Erfolgsgeschichten</h2>
        {{ $projects := (where site.RegularPages "Section" "eq" "case-studies") }}
        {{ $categories := slice .Title }}
        {{ $related := where $projects "Params.categories" "intersect" $categories }}
        {{ with ($related | shuffle | first 2) }}
        {{ range . }}
        <div class="mb-14">
            {{ partial "components/case-study-card" . }}
        </div>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
</section>
{{ end }}
